<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="/css/style.css" rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header class='arriba'>
        <section>
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre" />
        <div class='barra-bus'>
            <p>Lugar para poner la barra de búsqueda</p>
        <i class="fas fa-search"></i>
    </div>
       <div class= 'compra-cuo-sinta'>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <i class="fas fa-hand-holding-usd"></i>

        </div>
    </section>

         <ul class= 'lista'>
            <li><a href='#'> Ofertas</a></li>
            <li><a href='#'>Tiendas Oficiales</a></li>
            <li><a href='#'>Vender</a></li>
            <li><a href='#'>Ayuda</a></li>
         </ul>
         <ul class= 'lista'>
            <li><a href='#'>Crea tu cuenta</a></li>
            <i class="far fa-address-card"></i></a>
            <li><a href='#'>Ingresa</a></li>
            <i class="fas fa-sign-in-alt"></i></a>
            <li><a href='#'>Mis compras</a></li>
            <i class="fas fa-shopping-basket"></i></a>
         </ul>
         <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
        <h2 class='titulares'>Basado en tu última visita</h2>
        
        <div class='producto'>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera moulinex" />
        <p class= 'precio'>$6700</p>
        <p class= 'descuento'>40% OFF</p>
        <h3 class='articulo'>Cafetera Moulinex</h3> </div>
        
        <div class='producto'>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro 2019" />
        <p class= 'precio'>$230000</p>
        <p class= 'descuento'>20% OFF</p>
        <h3 class='articulo'>Macbook Pro 2019</h3> </div>
        </div>
        
        <div class='producto'>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
            <p class= 'precio'>$70500</p>
            <p class= 'descuento'>10% OFF</p>
            <h3 class='articulo'>Samsung Galaxy S10</h3> </div>
            </div>
        
         <div class='producto'>
            <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" />
            <p class= 'precio'>$23200</p>
            <p class= 'descuento'>5% OFF</p>
            <h3 class='articulo'>SmartTv Samsung 43"</h3> </div>
            </div>

            <h2 class='titulares'>Ofertas</h2> 
       
            <div class='producto'>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera moulinex" />
        <p class= 'precio'>$6700</p>
        <p class= 'descuento'>40% OFF</p>
        <h3 class='articulo'>Cafetera Moulinex</h3> </div>
        
        <div class='producto'>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro 2019" />
        <p class= 'precio'>$230000</p>
        <p class= 'descuento'>20% OFF</p>
        <h3 class='articulo'>Macbook Pro 2019</h3> </div>
        </div>
        
        <div class='producto'>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
            <p class= 'precio'>$70500</p>
            <p class= 'descuento'>10% OFF</p>
            <h3 class='articulo'>Samsung Galaxy S10</h3> </div>
            </div>
       
          <div class='producto'>
            <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" />
            <p class= 'precio'>$23200</p>
            <p class= 'descuento'>5% OFF</p>
            <h3 class='articulo'>SmartTv Samsung 43"</h3> </div>
            </div>

    </main>
    <footer>
        <section class='pie-pag'>
     <div>
        <i class="fas fa-credit-card fa-4x fa_blue"></i>
        <h3 class= 'titulo-pie'>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div>
        <i class="fas fa-gift fa-4x fa_blue"></i>
        <h3 class= 'titulo-pie'>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div>
        <i class="fas fa-user-shield fa-4x fas fa_blue"></i>
        <h3 class= 'titulo-pie'>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </div>
        </section>
        <section class= 'copyright'>
    <div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</section>
    </footer>
</body>
</html>