<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="register.htm" method="POST"></form>
 <label for='nombre'>Nombre</label>
 <input type= 'text' id= 'nombre' name= 'nombre'></input>

 <label for='apellido'>Apellido</label>
 <input type= 'text' id= 'apellido' name= 'apellido'></input>

 <label for='nombre de usuario'>Nombre de usario</label>
 <input type= 'text' id= 'nombre de usuario' name= 'nombre de usuario'></input>

 <label for='fecha de nacimiento'>Fecha de nacimiento</label>
 <input type= 'date' name= 'fecha de nacimiento'></input>

 <label for='domicilio'>domicilio</label>
 <input type= 'text' id= 'domicilio' name= 'domicilio'></input>

 <p>Perfil del usuario</p>
 <label for='pefil del usuario'> perfil del usuario</label>
 <input type= 'radio' name= 'pefil del usuario' value= 'comprar'>
 <input type= 'radio' name= 'pefil del usuario' value= 'vender'>></input>

 <p>Categoria de interes</p>
 <label for= 'text'>Categoria de interes</label>
      <input type = 'checkbox' name= "Categoria de interes" value = 'Electro' >
      <input type = 'checkbox' name= "Categoria de interes" value = 'Moda' >
      <input type = 'checkbox' name= "Categoria de interes" value = 'Hogar' >
      <input type = 'checkbox' name= "Categoria de interes" value = 'Jugeteria' >
      <input type = 'checkbox' name= "Categoria de interes" value = 'Vida sana' >

<p>Foto de Usuario</p>
     <label for=""></label>
      <input type = '' name= "" value = '' >

<p>Contraseña</p>
     <label for="password"> Contraseña</label>
      <input type = 'password' name= "contraseña" value ='contraseña' > 

<p>Confirmar Contraseña</p>
      <label for="password">Confirmar Contraseña</label>
       <input type = 'password' name= "Confirmar contraseña" value ='Confirmar contraseña' >

<p>Boton</p>
<label>Boton</label> 
     <button type= 'submit'>ENVIAR</button>
     <button type='reset'>BORRAR</button>
</body>
</html>